<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos para acceder a la galería -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".LoginCargarFotoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginDriverRegister"
            android:exported="false" />
        <activity
            android:name=".LoginCrearPassActivity"
            android:exported="false" />
        <activity
            android:name=".LoginIngCorreoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginVerificarActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSesionActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.CheckoutDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.InfoTaxiActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.DetalleReservaActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.CheckoutAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.ReservasAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.AdminInicioActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".adminHotel.UbicacionAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.GaleriaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.HabitacionesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.ServiciosAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.TaxiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.ReportesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.HuespedAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.MensajeriaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.PerfilAdminActivity"
            android:exported="false" />

    </application>

</manifest>

