<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StayflowDev"
        tools:targetApi="31">
        <activity
            android:name=".DriverReservaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".DriverChatActivity"
            android:exported="false" />
        <activity
            android:name=".DriverCambioContraActivity"
            android:exported="false" />
        <activity
            android:name=".DriverCorreoActivity"
            android:exported="false" />
        <activity
            android:name=".DriverVehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".DriverTarjetaCreditoActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".DriverInfoSolicitudActivity"
            android:exported="false" />
        <activity
            android:name=".DriverNotificacionActivity"
            android:exported="false" />
        <activity
            android:name=".DriverMapaActivity"
            android:exported="false" />
        <activity
            android:name=".DriverPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".DriverReservaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>