<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- Include this permission to grab user's general location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- Permisos para vibración -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permiso para acceso al estado de la red -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Driver.Activity.DriverAgregarTarjetaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ReservaResumenActivity"
            android:exported="false" /> <!-- Meta-data for Google Maps API key -->
        <activity
            android:name=".Driver.Activity.DriverVehicleEditActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverVehicleRegistrationActivity"
            android:exported="false" /> <!-- Meta-data for Google Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API-KEY" />

        <activity
            android:name=".adminHotel.NotificacionesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteDetalleHotelActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".cliente.ClienteBusquedaHotelActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteReservasActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteFavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteBuscarActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".cliente.ClientePerfilActivity"
            android:exported="false" />
        <activity
            android:name=".LoginCuentaFireBase"
            android:exported="false" />
        <activity
            android:name=".LoginFireBaseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".superAdmin.AddHotelAdminActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.GestionActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.InicioActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.ReportesActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.ReportDetailActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.FilterReportActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.AddHotelActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.LogsActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.ActiveUsersActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.DriverVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.SystemMetricsActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.MessagingTestActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.SelectUserForChatActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverPruebaMapa"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverInicioActivity"
            android:exported="false" />
        <activity
            android:name=".superAdmin.SuperAdminActivity"
            android:exported="false" /> <!-- Dentro de <application> -->
        <receiver
            android:name=".Driver.Activity.DriverReservaActivity$ResumenDiarioReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Driver.Activity.DriverReservaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverChatActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverCambioContraActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverCorreoActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverVehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverTarjetaCreditoActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverInfoSolicitudActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverNotificacionActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverMapaActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.Activity.DriverReservaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginCargarFotoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginDriverRegister"
            android:exported="false" />
        <activity
            android:name=".LoginCrearPassActivity"
            android:exported="false" />
        <activity
            android:name=".LoginIngCorreoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginVerificarActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSesionActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.CheckoutDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.InfoTaxiActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.DetalleReservaActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.CheckoutAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.ReservasAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.AdminInicioActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.UbicacionAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.GaleriaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.HabitacionesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.ServiciosAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.huesped.TaxiAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.ReportesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.HuespedAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.MensajeriaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminHotel.ChatSuperAdminActivity"
            android:exported="false" />

        <activity
            android:name=".adminHotel.MensajeDetalleActivity"
            android:exported="false" />

        <activity
            android:name=".adminHotel.PerfilAdminActivity"
            android:exported="false" /> <!-- Receiver para reinicio del sistema -->
        <receiver
            android:name=".superAdmin.utils.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- FileProvider para compartir archivos generados -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.iot.stayflowdev.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>